/**
 * Color Palette by Color Scheme Designer
 * Palette URL: http://colorschemedesigner.com/#0X61Tw0w0w0w0
 * Color Space: RGB;
 */

$primary: #FFAA00;
$secondary1: #FFD300;
$secondary2: #FF7400;
$complement: #1240AB;

$shadow: rgba(#121212, 0.5);

$width: 600px;