/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "vars";

%block {
  margin: 3em auto;
  max-width: $width;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: $primary;
  font: 16px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 1em 0;
  color: $secondary1;
  text-align: center;
  @include text-shadow(0 -1px 2px $complement);
  font-size: 6em;
  font-family: 'Six Caps', 'Impact', sans-serif;


  &:after {
    content: "\2122";
  }
}

section {
  overflow: hidden;
  line-height: 1.5em;
  font-size: 1em;
}

.intro {
  @extend %block;
  color: #fff;
  @include text-shadow(0 0 1px $shadow, 1px 0 0 $shadow);
}

a {
  color: $complement;
  @include transition();

  &:hover {
    @include transition();
  }
}

.technology-statement {
  display: table;
  @include box-shadow($shadow 0 0 12px inset);
  margin: 2em -4em;
  padding: 0.5em 6em;
  min-height: 6em;
  background-color: $secondary2;
  color: white;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
  font-size: 3.5em;
}

.boss-quote {
  display: table-cell;
  vertical-align: middle;

  &:before {
    content: "\275D\202F";
  }
  &:after {
    content: "\202F\275E";
  }
}

.tech {
  border-bottom: 2px dashed;
  color: $secondary1;
  @include transition();

  &:hover {
    border-bottom-color: $complement;
    color: $complement;
    cursor: hand;
    @include transition();
  }
}

.controls {
  @extend %block;
  color: white;

  label {
    font-size: 0.75em;
  }
}

.reroll {
  display: block;
  @include box-shadow($shadow 0 0 20px);
  max-width: $width;
  border: 0.1em solid rgba($secondary2, 0.5);
  border-radius: 0.5em;
  background-color: rgba($secondary1, 0.8);
  background-image: linear-gradient(
      rgba(lighten($secondary1, 25%), 0.5),
      rgba($secondary1, 0.8),
      rgba(desaturate($secondary1, 25%), 0.5));
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  line-height: 2em;
  font-weight: bold;
  font-size: 2em;

  &:hover {
    border-color: rgba($secondary2, 0.75);
    background-image: linear-gradient(
      rgba(lighten($secondary1, 25%), 0.7),
      rgba($secondary1, 0.9),
      rgba(desaturate($secondary1, 25%), 0.7));
    @include text-shadow(0 0 4px rgba($complement, 0.25));
  }
}

.footnotes {
  @extend %block;
  color: darken($primary, 10%);
  font-size: 0.75em;
}
